name: Format
on:
  pull_request:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/auto-cancel-redundant-job@v1
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.AUTOTHINGS_TOKEN }}
      - uses: actions/setup-node@v2.1.3
      - name: Install dependencies
        run: yarn
      - name: Format
        run: yarn format
      - name: Check if there are changes
        id: changes
        uses: UnicornGlobal/has-changes-action@v1.0.11
      - name: Commit formatting changes
        if: steps.changes.outputs.changed == 1
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automatic formatting
      - name: Fail on changes
        if: steps.changes.outputs.changed == 1
        run: exit 1
