name: Lint
on:
  pull_request:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/auto-cancel-redundant-job@v1
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v2.5.0
      - name: Install dependencies
        run: yarn
      - name: Format
        run: yarn format
      - name: Check if there are changes
        id: changes
        uses: UnicornGlobal/has-changes-action@v1.0.12
      - name: Fail on changes
        if: steps.changes.outputs.changed == 1
        run: exit 1
